body {
    font-family: Arial, sans-serif;
    background-color: #2E2E2E;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.countdown-container-one, .countdown-container-two {
    text-align: center;
    margin: 20px;
}

p {
    font-size: 4vw; /* Adjust the value as needed */
    margin: 0;
}

h3 {
    font-size: 6vw; /* Adjust the value as needed */
    margin: 0;
}
